<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>Edit Joueur</title>
</head>
<body>

<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form class="form-control" th:action="@{save(page=${page},keyword=${keyword})}" method="post">

            <div class="form-group">
                <input type="hidden" class="form-control" id="id" name="id" th:value="${joueur.id}" required>

            </div>
            <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" class="form-control" id="nom" name="nom" th:value="${joueur.nom}" required>
            </div>
            <div class="form-group">
                <label for="dateNaissance">Date de naissance:</label>
                <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" th:value="${joueur.dateNaissance}" required>
                <span class="text-danger" th:errors="${joueur.dateNaissance}"></span>

            </div>
            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" id="malade" name="malade" th:checked="${joueur.blessure}">
                <label class="form-check-label" for="malade">Blessure</label>
                <span class="text-danger" th:errors="${joueur.blessure}"></span>

            </div>
            <div class="form-group">
                <label for="score">Minutes jouees:</label>
                <input type="number" class="form-control" id="score" name="score" th:value="${joueur.minutesJouee}" required>
                <span class="text-danger" th:errors="${joueur.minutesJouee}"></span>

            </div>
            <div class="form-control">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>

        </form>

    </div>
</div>



</body>
</html>